/node_modules
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/logs
composer.lock
/public/thumbs
/public/albums
/public/uploads
/public/img
/public/help.html
/public/robots.txt
/public/sitemap.xml

Dockerfile
install.sh
docker-compose.yml
/socket/node_modules
/socket/package-lock.json
/socket/config.json
